body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:310px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:310px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:385px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1666px;
  top:110px;
  width:44px;
  height:47px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1595px;
  top:122px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1666px;
  top:180px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:119px;
  width:81px;
  height:29px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20_input {
  font-family:'应用字体';
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2093px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2573px;
  top:310px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:3053px;
  top:310px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2353px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2823px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:3303px;
  top:630px;
  width:400px;
  height:270px;
  font-size:36px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:396px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2303px;
  top:110px;
  width:385px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:3759px;
  top:110px;
  width:44px;
  height:47px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:3688px;
  top:122px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:3822px;
  top:119px;
  width:81px;
  height:29px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39_input {
  font-family:'应用字体';
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2733px;
  top:420px;
  width:560px;
  height:340px;
  font-size:36px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2897px;
  top:527px;
  width:253px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:3113px;
  top:650px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2876px;
  top:650px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:3053px;
  top:706px;
  width:201px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
